* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
header{
    height: 100vh;
    background: url(images/headerbg.png);
    background-position: center;
    background-size: cover;
}
header .banner{
    text-align: center;
}
hr {
    text-align: center;
    width: 50%;
    margin: 10px 350px;
}
header .banner .text h1{
    font-size: 100px;
    font-weight: 600;
    color: white;
}
header .banner .text p{
    color: white;
    font-size: 20px;
    margin: 15px;
}
header .banner button{
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 20%;
    left: 46%;
    color: white;
    font-size: 18px;
    background: transparent;
    padding: 8px 18px;
    border: 1px solid #89cff0;
    border-top: none;
    border-right: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}
header .banner button:hover{
    background-color: #89cff0;
}

section .text2{
    text-align: center;
}
section .text2 h2{
    color:  rgb(102, 98, 98);
    font-size: 50px;
    font-weight: 600;
    margin: 15px;
    word-spacing: 3px;
}
section .text2 p{
    color: gray;
}


section .logos .img{
    float: left;
    margin: 20px 50px;
    padding: 10px 15px;
    text-align: center;
}
.clr{
    clear: both;
}

section .photos h2{
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    color: rgb(102, 98, 98);
}
section .photos p{
    text-align: center;
}
section .photos .img{
    float: left;
    margin: 20px 50px;
    padding: 10px 15px;
    text-align: center; 
}
section .img .img1 img{
    padding: 20px;
    width: 30%;
}
.clr{
    clear: both;
}

.contant1{
    background: url(images/contactbg.png);
}
.contant1 .content .text1 h2{
    color: #fff;
    font-size: 50px;
    text-align: center;
}
.contant1 .content .text1 p{
    color: gray;
    text-align: center;
}
.contant1 .content .form{
    text-align: center;
}
.contant1 .content .form .name{
    background: transparent;
    border: 1px solid gray;
    width: 58%;
    padding: 15px;
    border-radius: 5px;
    outline: none;
    color: #fff;
}
.contant1 .content .form .email{
    background: transparent;
    border: 1px solid gray;
    width: 58%;
    padding: 15px;
    border-radius: 5px;
    outline: none;
    color: #fff;
}
.contant1 .content .form .massege{
    background: transparent;
    border: 1px solid gray;
    width: 58%;
    padding: 15px;
    height: 120px;
    margin: 10px 1%;
    border-radius: 5px;
    outline: none;
    color: #fff;
}
.contant1 .content .form #btn{
}